/* Question icon in each field with help */
.fieldQuestionMark {
  color: #eaeaec;
}


/* Handling image zoom on hover */	
	.kuinkZoom {      
	-webkit-transition: all 0.35s ease-in-out;    
	-moz-transition: all 0.35s ease-in-out;    
	transition: all 0.35s ease-in-out;     
	cursor: -webkit-zoom-in;      
	cursor: -moz-zoom-in;      
	cursor: zoom-in;  
	}     
	
	.kuinkZoom:hover,  
	.kuinkZoom:active,   
	.kuinkZoom:focus {
	/**adjust scale to desired size, 
	add browser prefixes**/
	-ms-transform: scale(3);    
	-moz-transform: scale(3);  
	-webkit-transform: scale(3);  
	-o-transform: scale(3);  
	transform: scale(3);    
	position:relative;      
	z-index:100;  
	}

/**To keep upscaled images visible on mobile, 
increase left & right margins a bit**/  
/**
@media only screen and (max-width: 768px) {   
	.kuinkZoom {      
	margin-left: 15vw;       
	margin-right: 15vw;
	}
**/
/**TIP: Easy escape for touch screens,
give gallery's parent container a cursor: pointer.**/
/** .DivName {cursor: pointer}
} **/

/* Support to highlight styles */
.grayed-highlight {
	opacity: 0.5;
	filter: grayscale(100%);
}

/* Below CSS: TO REVIEW, after new versions of theme libraries */
/* Global menus and navigation */
.navbar {
	height: 61px;
}
.navbar * {
	height: 100%;
}
.navbar .dropdown-menu > li {
    height: auto;
}
.navbar-right {
	margin-right: 0px !important;
}
.navbar-fixed-top {
	box-shadow: 0 0 15px 0 rgba(0,0,0,.3) !important;
}
.content-wrapper {
	padding-top: 61px;
}

/* Some button styles */
.btn-group .btn:not(:last-child) {
    margin-right: 5px; /* Adiciona uma margem à direita para todos os botões, exceto o último */
}
.btn {
	border-radius: 13px !important;
}